@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

  --main-color: #2980b9;
  --bg-color-1: #eee;
  --bg-color-2: #fff;
  --bg-light:rgba(255,255,255,.95);
  --text-color-1: #444;
  --text-color-2: #666;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
  --border:.3px solid #eee;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth ;
}
a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 300;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  transition: all 400ms ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  
}
/*Background*/
.bgPulse{
  position: fixed;
  top: 0;left: 0;right: 0;
  height: 100vh;
  z-index: -1;
  animation: bgColor 20s linear infinite;

  
}
.bgPulse span{
  position: absolute;
  width: 80px;
  height: 80px;
  background: #fff;
}

.bgPulse span:nth-child(3n + 1){
  background: transparent;
  border: 5px solid #fff;
  
}
.bgPulse span:nth-child(1){
  top: 50%;
  left: 20%;
  animation: animate 10s linear  infinite;


}

.bgPulse span:nth-child(2){
  top: 80%;
  left: 40%;
  animation: animate 12s linear  infinite;

  
}

.bgPulse span:nth-child(3){
  top: 10%;
  left: 65%;
  animation: animate 15s linear  infinite;

}

.bgPulse span:nth-child(4){
  top: 50%;
  left: 70%;
  animation: animate 6s linear  infinite;

}

.bgPulse span:nth-child(5){
  top: 10%;
  left: 30%;
  animation: animate 9s linear  infinite;

}

.bgPulse span:nth-child(6){
  top: 90%;
  left: 95%;
  animation: animate 8s linear  infinite;

}

.bgPulse span:nth-child(7){
  top: 80%;
  left: 5%;
  animation: animate 5s linear  infinite;

  
}

.bgPulse span:nth-child(8){
  top: 35%;
  left: 50%;
  animation: animate 14s linear  infinite;

}

.bgPulse span:nth-child(9){
  top: 5%;
  left: 5%;
  animation: animate 11s linear  infinite;

}

.bgPulse span:nth-child(10){
  top: 25%;
  left: 90%;
  animation: animate 10s linear  infinite;

  
}

@keyframes animate{
  0%{
      transform: scale(0) translateY(0) rotate(0deg);
      opacity: 1;
  }
  100%{
      transform: scale(1) translateY(-100px) rotate(360deg);
      opacity: 0;
  }
}
@keyframes bgColor{
  0%{
      background: #F44336;
  }
  25%{
      background: #03A9F4;
  }
  50%{
      background: #9C27B0;
  }
  75%{
      background: #00ff0a;
  }
  100%{
      background: #F44336;
  }
}



/*Index.js styles*/
.container {
  display: flex;
  padding: 2rem;
  gap:1rem;
}

.container .posts-container {
  display: flex;
  flex: 1 1 50rem;
  flex-direction: column;
  gap: 2rem;
}

.container .recommend {
  
  flex: 1 1 20rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin: .3rem;
  margin-top: 2rem;
}

/*header Component styles*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: rgba(255,255,255,.6);
  backdrop-filter: blur(50px);
  z-index: 103;
}

.header .logo {
  font-size: 2rem;
}

.header .links {
  display: flex;
  gap: 1rem;
}

.header .links span {
  cursor: pointer;
}
.header .menu-icon{
  font-size: 2rem;
 animation: color 20s linear infinite;
 display: none;
 cursor: pointer;
}
/*Carousell*/
.gallery-container{
  position: relative;
}
.gallery{
  display: flex;
  padding: 4rem 0 4rem 6rem;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,.1);
  min-height: 100vh;
}
.gallery .slider{
  flex: 1 ;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  position: relative;

}
.gallery .slider .images{
  display: flex;
  flex-direction: row;
  width: max-content;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;

}
.gallery .content{
    gap: 2rem;
}
.gallery .content h2{
  font-size: .9rem;
  font-weight: 400;
  color: #aaa
}
.gallery .content h1{
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
}
.gallery .content p{
  font-size: 1.1rem;
  color: #eee;
}
.gallery .slider .images::-webkit-scrollbar{
  display: none;
}
.gallery .slider .images .images-card{
  position: relative;
  min-width: 301px;
  height: 447px;
  margin-right: 2rem;
}
.gallery .slider .images .images-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
}
.gallery .slider .arrows{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: absolute;
  bottom: 5%;
}
.gallery .slider .arrows .arrow-icon{
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #000;
}
@media (min-width:2000px){
   .gallery .content{
      max-width: 1000px;
      padding-right:4rem;
  }
  
.gallery .slider .images .images-card{
  min-width: 400px;
  height: 550px;
}
}
@media (max-width:1150px){
   .gallery{
      flex-direction: column;
      width: 100%;
  }
   .gallery .slider{
      max-width: 100%;
      width: 100%;
      margin: 5rem 0;
  }
}
@media (max-width:850px){
   .gallery{
      padding: 4rem 0 4rem 4rem;

  }
}

@media (max-width:650px){
   .gallery{
      padding: 4rem 0 4rem 2rem;
  }
   .gallery .slider .images .images-card{
      min-width: 240px;
      height: 320px;
  }
}
/*Post component*/
.post {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.post .content{
  display: flex;
  max-width: 750px;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color-2);
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.post .image {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post .image img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 30px;
}

.post h1 {
  color: var(--text-color-1);
}
.post .details{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
}
.post .details .author{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  color: var(--text-color-1);
}
.post .details .author h2{
  font-weight: 300;
}
.post .details .author img{
  width: 40px;height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.post .details .date{
  display: flex;
  align-items: center;
  gap: .3rem;
}
.post .details .date .icon{
  color: var(--main-color);
  animation: color 20s linear infinite;
}
.post .content .excerpt{
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color-2);
}
 .read-more{
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 200;
  padding: .5rem 1rem;
  color: #fff;
  background: #2980b9;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;
    animation: bgColor 20s linear infinite;
    cursor:pointer;

}
.post .content .read-more .icon{
  font-size: 1.4rem;
  transform: translateY(2px);
}
.post .content .read-more:hover{
  transform: scale(1.05);
}
/*Post Widget*/
.post-widget{
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 10px;
  background-color: var(--bg-light);
}
.post-widget .content{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.post-widget .content h1{
  color: var(--text-color-1);
}
.post-widget .content .box{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: left;
  gap: .5rem;
}
.post-widget .content .box .image {
  width: 60px;height: 60px;
}
.post-widget .content .box .image img{
  width: 100%;height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.post-widget .content .box h3{
  display: flex;
  flex-direction: column;
}
.post-widget .content .box >*{
  font-weight: 400;
}
.post-widget .content .box h3 span{
  font-size: 1rem;
  color: var(--text-color-2);
}
.post-widget .content .box h3 .p{
  color: var(--text-color-1);
}
/*Categories Section starts now*/
.categories{
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 10px;
  background-color: var(--bg-light);
}
.categories .content{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.categories .content h1{
  color: var(--text-color-1);
  padding:0 2rem;
  color: var(--text-color-1);
}
.categories .content .box-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 .5rem;
  gap: 1rem;
  padding-bottom: 1rem;
}
.categories .content .box-container .box{
  font-size: 1rem;
  color: var(--text-color-2);
}
/*Post Detail*/
.post-detail {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.post-detail .content{
  display: flex;
  max-width: 850px;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color-2);
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.post-detail .image {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post-detail .image img {
  width: 100%;
  max-height: 540px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 30px;
}
.post-detail .content .raw{
  padding: 1rem;
  font-size: 1.3rem;
  color: var(--text-color-2);  
  text-align: justify;
}
/*Author Card*/
.author-card{
  display: flex;
  width: 100%;
  max-width: 850px;
  box-shadow: var(--box-shadow);
  border: var(--border);
  margin: auto;
  padding: 1rem;
  margin-top: 4rem;
  border-radius: 40px;
  background-color: var(--bg-light);
 
}
.author-card .content{
  max-width: 650px;
  margin: 0 auto;
  transform: translateY(-6rem);
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;

}
.author-card .image{
  width: 200px;height: 200px;
}
.author-card .image img{
  width: 100%;height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.author-card .content p{
  text-align: center;
  color: var(--text-color-1);
  font-size: 1.2rem;
}
.comment-form{
  display: flex;
  width: 100%;
  max-width: 850px;
  box-shadow: var(--box-shadow);
  border: var(--border);
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--bg-color-2);
}
.comment-form .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.comment-form .content h1{
  background: linear-gradient(to top, transparent 0%, #000 70%) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .9;

}
.comment-form .content .textarea textarea, .comment-form .content .inputs input {
  background: #fff;
  border: 1px solid #aaa;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-color-1);
  resize: none;
  border-radius: 10px;
}
.comment-form .content textarea:focus, .comment-form .content .inputs input:focus{
  box-shadow: 0 .5rem 1.5rem #297fb988;
  outline: none;
}
.comment-form .content .textarea{
  width: 100%;
}
.comment-form .content .textarea textarea{
  width: 100%;
}
.comment-form .content .inputs{
  display: flex;
  width: 100%;
  gap: 1rem;
}
.comment-form .content .inputs input{
  display: flex;
  flex: 1 1 10rem;
}
.comment-form .content .btn{
  width: max-content;
  font-size: 1.4rem;  
  padding:.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .4rem;
  animation: color 20s linear infinite;

}
.comment-form .content .btn .icon{
  transform: translateY(2px);
}
.comments{
  display: flex;
  width: 100%;
  max-width: 850px;
  box-shadow: var(--box-shadow);
  border: var(--border);
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--bg-color-2);
}
.comments .content{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  
}
.comments .content .box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comments .content .box h2{
  font-size: 1rem;
  color: var(--text-color-2);
  font-weight: 500;
}
.comments .content .box h2 span{
  color: #000;
  font-size: 1.2rem;
}
.comments .content .box p{
  color: var(--text-color-1);
}
@keyframes color{
  0%{
      color: #F44336;
  }
  25%{
      color: #03A9F4;
  }
  50%{
      color: #9C27B0;
  }
  75%{
      color: #00ff0a;
  }
  100%{
      color: #F44336;
  }
}
@media(max-width:1050px){
  html{
    font-size: 95%;
  }
  .container{
    flex-direction: column;
  }
  .header .links{
    display: none;
  }
  .header .menu-icon{
    display: block;
  }
}
@media (max-width:780px){
  .comment-form .content .inputs{
    display: flex;
    flex-direction: column;
  }
  .comment-form .content .inputs input{
    width: 100%;
    height: min-content;
  }
}
@media(max-width:600px){
  html{
    font-size: 90%;
  }
  .container{
    flex-direction: column;
    padding: 1rem;
  }
}
@media(max-width:500px){
  html{
    font-size: 80%;
  }
  .container{
    flex-direction: column;
    padding: .4rem;
  }
  .container .posts-container{
    gap: 1rem;
  }
}
@media(max-width:400px){
  html{
    font-size: 75%;
  }
  .container{
    flex-direction: column;
    padding: 0rem;
  }
  .post-container:not( .post)>*{
    margin: .4rem;
  } 
  .post{
    padding: .1rem;
  }
  .author-card{
    border-radius: 10px;
  }
  .posts-container{
    padding: .3rem;
  }
}
.support{
  background-color: var(--bg-color-2);
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 1rem;
  border-radius: 10px;
  max-width: 750px;
  margin: 0 auto;
}
.contact-card{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-card .title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contact-card .title h1{
  text-transform: uppercase;
  font-weight: 400;
   background: linear-gradient(to top, transparent 0%, #000 70%) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .9;
}
.contact-card .title p{
  font-size: 1rem;
  color: var(--text-color-1);
  text-align: center;
}
